# Archivos de Sistema Operativo
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

# Archivos y Carpetas de Editores de Código (VS Code, SublimeText, etc.)
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.user
*.userossc
*.sln
*.swp
*.swo

# Claves, Variables de Entorno y Datos Sensibles
.env
.env.local
.env.development
.env.production
*.pem
*.key
id_rsa
id_ed25519

# Archivos de Registros y Caché
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.cache/

# Archivos Temporales del Sistema o Compilados
*.tmp
*.bak
*.swp
dist/
build/